<div class="form-group ">
  <input type="text" class="form-control bg-light  " placeholder="Search Products By Name" style="width: 300px;"
  [(ngModel)]="searchTerm"/>
  <!-- You are searching for ...{{searchTerm}} -->
  <!-- <div class="form-group ">
    <span class="fas fa-search search-icon"></span>
  </div> -->
</div>



<div class="row">
    <div class="col-md-4" *ngFor="let product of productList | productFilters:searchTerm">
       <app-product-item [productItem]="product" [addedTowishlist]="wishlist.indexOf(product.id)>=0"></app-product-item>
       <!-- <app-product-detail [productItem]="product" ></app-product-detail> -->
      </div>
    </div>
