

  <div class="form-group ">
    <input type="text" class="form-control bg-light  " placeholder="Search Products By Name" style="width: 300px;"
    [(ngModel)]="searchTerm"/>


    </div>
    <div style=" margin-left: 310px;
    margin-top: -50px" >
      Select Size
    </div>
    <div>

      <select style="margin-left: 391px;
      margin-top: -51px;" class="custom-select col-md-4 "  required name="size" [(ngModel)]="Size">
      <option selected value="">choose..</option>
      <option selected value="s">s</option>
      <option selected value="m">m</option>
      <option selected value="l">l</option>

    </select>

  </div>


<div class="row">
    <div class="col-md-4" *ngFor="let product of productList.products | productFilters:searchTerm |sizeFilters: Size">
      <app-product-item [productItem]="product" [addedTowishlist]="wishlist.indexOf(product.title)>=0"></app-product-item>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-md-4" *ngFor="let product of productList.products | productFilters:searchTerm; let i=index">
    <div
    infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="1"
    (scrolled)="onScroll()"
    (scrolledUp)="onScrollUp()"
    [fromRoot]="true"
    [scrollWindow]="true"
    >
        <app-product-item [productItem]="product" [addedTowishlist]="wishlist.indexOf(product.title)>=0"></app-product-item>
    </div>

    </div>
  </div> -->
