<div class="container-fluid">

  <div class="cart-item" >
    <table class="table table-responsive">
      <thead>
        <tr>
          <!-- <th>Sr no. </th> -->
          <th>Product Image </th>
          <th>Product Name </th>
          <th>Product Quantity </th>
          <th>total price </th>
          <th>Action </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <th>{{cartItem.id}}:</th> -->
          <th> <img src="{{cartItem.imageurl}}"  width="50" height="50"> </th>
          <th>{{cartItem.productName}}</th>
          <th>{{cartItem.qty}} </th>
          <th>{{(cartItem.qty)*(cartItem.price)|currency:'INR'}} </th>
          <th><button type="button" class="btn btn-md btn-danger " style="position: relative; "
            (click)="deletetodo(cartItem)">Delete</button>
          </th>
        </tr>
      </tbody>
    </table>

        </div>

</div>
