<div class="card">

    <div class="class-header bg-primary " style="color: white; text-align: center;">
        <strong>Cart Items</strong>
    </div>
    <div class="cart-item" >
      <table class="table table-responsive">
        <thead>
          <tr>
            <!-- <th>Sr no. </th> -->
            <th>Product Image </th>
            <th>Product Name </th>
            <th>Product Quantity </th>
            <th>Product price per article </th>
            <th>total price </th>
            <th>Action </th>
          </tr>
        </thead>
        <div *ngIf="cartItems.length===0" class="alert alert-info">Your cart is empty
          <a class="btn btn-primary" routerLink="/shop">Shop Now</a>
        </div>

    <ul  *ngIf="cartItems.length > 0" class="list-group">
        <li class="list-group-item" *ngFor="let items of cartItems">
            <app-cart-item [cartItem]="items" (todelete)="itemdelete($event)"></app-cart-item>
        </li>
        <li class="list-group-item active">
            <strong>Total:{{cartTotal| currency:'INR'}}</strong>
        </li>
    </ul>
      </table>
    </div>

</div>
