

                 <!-- it is for new reactive form login details -->


     <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="guest-form-card card">
          <div class="class-header text-center bg-primary">
            <strong style="color: white;">login Here</strong>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="loginfor()" >
                   <div class="form-group">
                     <label  for="Email id">Enter Email Id </label>
                     <input
                     id="email"
                     name="email"
                     placeholder="Enter your Email "
                     class="form-control"
                     formControlName="email"
                     [ngClass]="{'is-invalid':loginForm.get('email')?.touched && loginForm.get('email')?.invalid}"
                     />
                     <!-- <span class="invalid-feedback">
                       <span *ngIf="registerForm.get('email')?.hasError('required')">Email id can't be blank</span>
                       <span *ngIf="registerForm.get('email')?.hasError('email')">Email must be valid</span>
                      </span> -->
                    </div>
                    <div class="form-group">
                            <label for="password" >Enter Password </label>
                            <input
                            type="password"
                            id="password"
                            placeholder="Enter your Password"
                            class="form-control "
                            formControlName="password"
                            [ngClass]="{'is-invalid':loginForm.get('password')?.touched && loginForm.get('password')?.invalid}"
                            />
                          </div>
                          <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
                          </form>
                          <div class="card-link">
                          <h5><a routerLink="/register">Register here</a>||
                          <a routerLink="/user">Forgot password?</a></h5>
                          </div>


          </div>
        </div>
      </div>
     </div>
                       <!-- <div class="card-link">
                      <h5 >New user. <a routerLink="/register">Register here</a> </h5>
                  </div> -->

<!-- <div class="form-control-feedback"
     *ngIf="email.errors && (email.dirty || email.touched)">
  <p *ngIf="email.errors.required">Email is required</p>
  <p *ngIf="email.errors.minlength">Email must contain at least the @ character</p>
</div> -->



