
 <div  *ngFor="let items of cartItems.Order_List">

   <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
    <div class="col-md-4">
      <h5  style="color: red;">Order date {{items.createdAt|  date: 'dd/MM/yyyy'}}</h5>
      <img src="https://media.istockphoto.com/vectors/male-hand-holding-megaphone-with-new-product-speech-bubble-banner-vector-id1154954910?k=20&m=1154954910&s=612x612&w=0&h=-UnuowcR6R6t7CDpl1516FAsSCZGBYKXK6Fg6CM2nTI=" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div *ngFor="let product of items.products">
        <h5 class="card-title"  style="color: blue;">Id: {{product.productId}}</h5>
        <h5 class="card-title"> ProductQuantity: {{product.quantity}}</h5>
        <h5 class="card-title ;text-mute">Product total:{{product.subtotal}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text"> <h5>Address:{{items.address}}</h5></small></p>
        <p class="card-text"><small class="text"><h5>Order Status:{{items.status}}</h5></small></p>
        <th>Total Order Amount {{items.total|currency:'INR'}} </th>
        <button class="btn btn-primary" (click)="printPage()"> print</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
