
<div class="card">
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="class-header bg-primary text-center" style="height: 40px; text-align:center ;"><strong style="color: white;">Select By Category</strong></div>
    <div class="list-group list-group-flush" >
      <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/shop">View All Products</a>

    <div class="list-group list-group-flush" *ngFor="let catg of categoryList">
        <a class="list-group-item list-group-item-action list-group-item-light p-3"
        href="/category/{{catg.id}}"
        >
        {{catg.categoryName}}</a>
    </div>
  </div>
  <!-- <div class="class-header bg-primary text-center">
    <strong><h5>Filters</h5></strong>
  </div> -->

        <!-- <div class="card-body ">


            <form  [formGroup]="filterForm" (ngSubmit)="filters()">
                <div class="form-group">
                    <label for="form" >From</label>
                    <input type="number" id="from" class="form-control"  name="from" formControlName="from">
                    <span *ngIf=" from && from.invalid && from.touched " >Enter the valid filters</span>
                </div>
                <div class="form-group">
                    <label for="to" >To </label>
                    <input type="number" id="to" class="form-control" name="to" formControlName="to">
                    <span *ngIf=" from && from.invalid && from.touched " >Enter the valid Range</span>
                </div>

                <button class="btn btn-primary btn-block" >Filter by price</button>
            </form>
        </div> -->
</div>

<div *ngIf="loginservice.roleMatch('true')">

  <div   class="class-header bg-primary text-center" style="height: 40px; text-align:center ;"><strong style="color: white;">Admin Component</strong></div>
  <div class="list-group list-group-flush" >
    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/add">Add Products</a>

  </div>
</div>
<div *ngIf="loginservice.roleMatch('false')">

  <div  class="class-header bg-primary text-center" style="height: 40px; text-align:center ;"><strong style="color: white;">User Component</strong></div>
    <div class="list-group list-group-flush" >
      <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/wishlist">wishlist</a>

    </div>
</div>
</div>
<!-- <div class="list-group">
  <a class="list-group-item list-group-item-action"
  [class.active]="!price" routerLink="/">
    All Price
  </a>
  <a *ngFor="let p of price$ | async"
  class="list-group-item list-group-item-action"
  routerLink="/" [queryParams]="{ price : p.key}"
  [class.active]="price === p.key">
        {{p.name}}
  </a>
</div> -->
